.mark {
  margin: 0 0.15em;
  font-weight: bold;
  background-color: #f3c498;
  color: #333441;
}
.anonymousmark {
  margin: 0 0.15em;
  font-weight: bold;
  background-color: #03c498;
  color: #333441;
}
