@font-face {
  font-family: 'Saira';
  src: local('Saira'),
    url(./assets/fonts/Saira/static/Saira-Regular.ttf) format('truetype');
}

body {
  font-family: 'Saira', sans-serif;
  background-color: #1f3366;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  line-height: 2;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.about-section {
  text-align: center;
  letter-spacing: -0.025em;
  color: #00d6a1;
  padding-left: 10vw;
  padding-right: 10vw;
}

.logo {
  width: 22vw;
  align-self: center;
  margin-top: 25px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

*::-webkit-scrollbar {
  width: 14px; /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
  background: #1f3366; /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
  background-color: #00d6a1; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}
