@import '~@fortawesome/fontawesome-free/css/all.css';
@font-face {
  font-family: 'Saira-Regular';
  src: local('Saira'),
    url(./assets/fonts/Saira/static/Saira-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Saira-Bold';
  src: local('Saira'),
    url(./assets/fonts/Saira/static/Saira-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Saira-Expanded-Regular';
  src: local('Saira'),
    url(./assets/fonts/Saira/static/Saira_Expanded-Regular.ttf)
      format('truetype');
}

:root {
  --primary-color: #00d6a1;
  --secondary-color: #1f3366;
  --complementary-color: #ff7a68;
  --light-color: #ffca00;
  --background-color: #e7e8ec;
  --disabled-color: #6c757d;
  --contrast-color: white;
}

body {
  position: relative;
  color: #333441;
  height: 100vh;
  background-color: #e7e8ec;
  overflow-y: hidden;
  cursor: default;
}

*::-webkit-scrollbar {
  width: 14px; /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
  background: #e7e8ec; /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
  background-color: #00d6a1; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  height: 50px;
}

.react-calendar {
  width: 350px;
  max-width: 100%;
  background: white;
  border: 1px solid #a0a096;
  font-family: 'Saira-Regular', sans-serif;
  line-height: 1.125em;
  border-radius: 4px;

  /* border: 0; */
  overflow: hidden;
}

.react-calendar,
.react-calendar *,
.react-calendar *::before,
.react-calendar *::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.react-calendar--doubleView {
  width: 700px;
}
.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}
.react-daterange-picker,
.react-daterange-picker *,
.react-daterange-picker *::before,
.react-daterange-picker *::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.react-daterange-picker--disabled {
  background-color: #f0f0f0;
  color: #6d6d6d;
}
.react-daterange-picker__wrapper {
  background: white;
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  align-items: center;
  border: thin solid gray;
  border: 0;
  border-radius: 4px;
  font-size: 1.25em;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}
.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
  font: inherit;
  font-size: 0.8em;
}
.react-calendar__navigation {
  height: 44px;
  margin-bottom: 10px;
  font-size: 1.5em;
}
.react-calendar__navigation button {
  min-width: 44px;
  background: none;
  font-size: 20px;
}
.react-calendar button:enabled:hover {
  cursor: pointer;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e640;
}
.react-calendar__navigation button[disabled] {
  background-color: #f0f0f0;
}
.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;

  /* font-size: 0.75em; */
}
.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}
.react-calendar__month-view__weekNumbers {
  font-weight: bold;
}
.react-calendar__tile {
  max-width: 100%;
  text-align: center;
  padding: 0.75em 0.5em;
  background: none;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;

  /* font-size: 0.75em; */
  padding: calc(0.75em / 0.75) calc(0.5em / 0.75);
}
.react-calendar__month-view__days__day--weekend {
  color: #1f3366a3;
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}
.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__tile--now {
  background: #ffff76;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #ffffa9;
}
.react-calendar__tile--hasActive {
  background: #76baff;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}
.react-calendar__tile--active {
  background: #1f3366;
  color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #1087ff;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}

.react-daterange-picker {
  display: inline-flex;
  position: relative;
}

.react-daterange-picker__inputGroup {
  height: 100%;
  flex-grow: 1;
  padding: 0 2px;
  box-sizing: content-box;
  display: flex;
  align-items: baseline;
}
.react-daterange-picker__inputGroup__divider {
  padding: 1px 0;
  white-space: pre;
}

.react-daterange-picker__inputGroup__input {
  min-width: 0.54em;
  height: 100%;
  position: relative;
  padding: 0 1px;
  border: 0;
  background: none;
  font: inherit;
  box-sizing: content-box;
  -moz-appearance: textfield;
}
.react-daterange-picker__inputGroup__input::-webkit-outer-spin-button,
.react-daterange-picker__inputGroup__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.react-daterange-picker__inputGroup__input:invalid {
  background: rgba(255, 0, 0, 0.1);
}
.react-daterange-picker__inputGroup__input--hasLeadingZero {
  margin-left: -0.54em;
  padding-left: calc(1px + 0.54em);
}
.react-daterange-picker__button {
  border: 0;
  background: transparent;
  padding: 4px 6px;
}
.react-daterange-picker__button:enabled {
  cursor: pointer;
}
.react-daterange-picker__button:disabled .react-daterange-picker__button__icon {
  stroke: #6d6d6d;
}
.react-daterange-picker__button:enabled:hover
  .react-daterange-picker__button__icon,
.react-daterange-picker__button:enabled:focus
  .react-daterange-picker__button__icon {
  stroke: #0078d7;
}
.react-daterange-picker__button svg {
  display: inherit;
}
.react-daterange-picker__calendar {
  width: 350px;
  max-width: 100vw;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  border-radius: 4px;
  box-shadow: 0 30px 40px 0 rgba(16, 36, 94, 0.2);
  border-top-left-radius: 0;
}
.react-daterange-picker__calendar--closed {
  display: none;
}
.react-daterange-picker--closed {
  border-radius: 4px;
}
.react-daterange-picker--closed .react-daterange-picker__wrapper {
  border-radius: 4px;
}

.react-daterange-picker__calendar .react-calendar {
  border-top-left-radius: 0;
  border-width: thin;
}

.react-daterange-picker__clock {
  border-radius: 4px;
  box-shadow: 0 30px 40px 0 rgba(16, 36, 94, 0.2);
  width: 220px;
  height: 220px;
  padding: 20px;
  border: 0;
  border-top-left-radius: 0;
}
.react-daterange-picker__clock .react-clock__second-hand {
  transition: transform cubic-bezier(0.68, 0, 0.27, 1.55) 0.2s;
}
.react-daterange-picker__clock .react-clock__second-hand__body::before {
  width: 5px;
  height: 5px;
}
.react-daterange-picker__clock .react-clock__second-hand__body::after {
  width: 15px;
  height: 15px;
}
.react-daterange-picker--open {
  border-radius: 4px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.react-daterange-picker--open .react-daterange-picker__wrapper {
  border-radius: 4px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.react-daterange-picker__range-divider {
  margin: 0 auto;
}
