@import '~@fortawesome/fontawesome-free/css/all.css';
@font-face {
  font-family: 'Saira-Regular';
  src: local('Saira'),
    url(./assets/fonts/Saira/static/Saira-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Saira-Bold';
  src: local('Saira'),
    url(./assets/fonts/Saira/static/Saira-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Saira-Expanded-Regular';
  src: local('Saira'),
    url(./assets/fonts/Saira/static/Saira_Expanded-Regular.ttf)
      format('truetype');
}

:root {
  --primary-color: #00d6a1;
  --secondary-color: #1f3366;
  --complementary-color: #ff7a68;
  --light-color: #ffca00;
  --background-color: #e7e8ec;
  --disabled-color: #6c757d;
  --contrast-color: white;
}

body {
  position: relative;
  color: #333441;
  height: 100vh;
  background-color: #e7e8ec;
  overflow-y: hidden;
  cursor: default;
}

*::-webkit-scrollbar {
  width: 14px; /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
  background: #e7e8ec; /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
  background-color: #00d6a1; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  height: 50px;
}
