/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~@fortawesome/fontawesome-free/css/all.css';
@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'),
    url(./assets/fonts/Montserrat/Montserrat-Regular.ttf) format('truetype');
}

body {
  position: relative;
  color: #333441;
  height: 100vh;
  background-color: #e7e8ec;
  overflow-y: hidden;
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -0.025em;
  color: #333441;
  font-family: 'Montserrat', sans-serif;
}

h5 {
  margin: 0;
  letter-spacing: -0.025em;
  color: #333441;
  font-family: 'Montserrat', sans-serif;
}

p {
  font-family: 'Montserrat', sans-serif;
  color: #333441;
}

li {
  list-style: none;
}

a {
  color: white;
  opacity: 0.75;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

label {
  font-family: 'Montserrat', sans-serif;
}

input {
  font-family: 'Montserrat', sans-serif;
}
