.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 20px;
}

.contentDescription {
  text-align: center;
  font-size: larger;
}

.button {
  font-weight: 600;
  border: none;
  align-self: center;
}

.footer {
  color: #333441;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.logoFooter {
  width: 45%;
}
