.textContainer {
  white-space: pre-line;
  overflow-y: scroll;
  overflow-x: hidden;
  line-height: 1.5;
  font-size: medium;
  background-color: white;
  border: solid;
  border-color: #8a0f4a;
  height: 60vh;
}
